body {
	padding-top: 50px; 
}

.sidebar {
	background: #f5f5f5;
	min-height: 600px;
	border-right: 1px solid #bbb; 
}

.page-header{
	padding: 10px;
}

.main {
	min-height: 400px;
}

footer {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	padding-top: 20px;
	background: url(../images/bg.png);   
}
.footer-detail{
	background: #eaeaea;
	padding-bottom: 5px;
	padding-top: 10px;
}